body{
    display: grid;
    justify-content: center;
    height: 100vh;
    align-content: center;
}

form{
    height: 150px;
}

#forms{
    display: grid;
    justify-content: center;
}

#forms>button{
    margin-top: 10px;
    height: 35px;
}

#forms>button:hover{
    cursor: pointer;
}




.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 1fr 1.5fr 1.5fr;
    width: 800px;
    background-color: red;
    color: white;
    font-weight: bold;
    font-family: monospace;

}



#status{
    display: flex;
    justify-content: center;
    align-items: center;
}

#status>p{
    font-size: 1.3em ;
}

#status>label{
    margin-left: 10px;
}

#delete-book-container{
    display: grid;
    justify-content: center;
}

#delete-book-container>button{
    width: 100px;
    height: 50px;
    
}


